body{
    margin: 0;
    padding: 0;
    background: #ffffff;
}

.logo img{
    width: 65px;
    height: 65px;
    margin-top: 5px;
    margin-left: 17.5%;
    margin-right: -10px;
}

.logo2 {
    font-family: 'Arial';
    font-weight: normal;
    color: #3B58B8;
    margin-top: -65px;
    margin-left: 22.5%;
}

.logo2 h2{
    font-weight: normal;
}

nav a{
    float: right;
    text-decoration: none;
}

.image img{
 display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  width: 70%;
}

.image2 img{
    display: block;
      margin-left: auto;
      margin-right: auto;
      width: 30%;
    }

h1{
    font-family: 'Manrope', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    font-weight: 500;
    color: #424242;
}

h3{
    padding-top: 2.5%;
    padding-left: 19%;
    font-style: normal;
}  

h3 a{
    font-size: 16px;
    color: #3B58B8;
    text-decoration: none;
    font-family: 'Arial';
    font-weight: lighter;
    
}

.back{
    padding-top: -10%;
}


p{
    text-align: justify;
    text-indent: 2em;
    padding-left: 15%;
    padding-right: 15%;
    line-height: 2;
    font-family: 'arial';
    color:#424242;
    font-size: 15px;
}

.content{
    font-family: 'Arial';
}
.content2 {
    text-align: left;
    text-indent: justify;
    padding-left: 5%;
    /* padding-right: 15%; */
    line-height: 2;
    /* margin-top: 2px; */
    color: #424242;
}

.content3{
    text-align: left;
    /* text-indent: 2em; */
    padding-left: 9%;
    /* padding-right: 15%; */
    line-height: 2;
    /* margin-top: 2px; */
    color: #424242;

}

.content4{
    text-align: left;
    /* text-indent: 2em; */
    padding-left: 9%;
    /* padding-right: 15%; */
    line-height: 2;
    /* margin-top: 2px; */
    color: #424242;
}

.half{
    text-align: justify;
    text-indent: 2em;
    padding-left: 15%;
    padding-right: 15%;
    line-height: 2;
}

.bold{
    text-align: left;
    padding-left: 15%;
}

ul{
    padding-top: -15%;
    padding-left: 15%;
}

ol{
    padding-left: 18%;
}

.links a{
    text-indent: 6em;
    font-family: 'Arial';
    /* text-decoration: none; */
}

/* .links li{
    text-indent: 6em;
} */

ul li{
    text-align: justify;
}

/* .content{
    padding-bottom: 1%;
} */

footer{
    padding-top: 10px;
    padding-bottom: 62px;
    background:#F2F2F2;
    border-top: #848484 1px solid;
   
}

.social_media{
    margin-top: -40px;
    text-align: center;
    font-size: 25px;
}

.social_media i{
    padding-right: 20px;
}